*
!Dockerfile
!release.lock.json
!build-catalog.py
!archives/
!archives/*.tar.gz
!browser/
!browser/package.json
!browser/bun.lock
!licenses/
!licenses/*
!curl-worker.ts
!curl-worker.service.ts
!curl-worker.helpers.ts
!curl-worker.types.ts
