*
!Dockerfile
!release.lock.json
!build-catalog.py
!archives/
!archives/*.tar.gz
!browser/
!browser/package.json
!browser/bun.lock
!licenses/
!licenses/*
!curl-worker.ts
!curl-worker.service.ts
!curl-worker.helpers.ts
!curl-worker-output.helpers.ts
!curl-worker.types.ts
!auth-check-worker.ts
!auth-check-worker.helpers.ts
!auth-check-worker-protocol.helpers.ts
!auth-check-worker.types.ts
!auth-check-worker-deps/
!auth-check-worker-deps/package.json
!auth-check-worker-deps/bun.lock
